@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>@Html.ActionLink("drive","drive")</div>
<div>@Html.ActionLink("Create","Create","Document")</div>

<div>@Html.Raw(ViewBag.UrlText)</div>