@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <br />
        <p>
            <b>AssistMe</b> is an Application by which you can have all your digital documents at your finger tips.<br />
            AssistMe uses your google drive as the backend for storing your documents.
            <br />
            <br />
            <strong>Click @Html.ActionLink("here", "Create", "Document")</strong> to create/add a document.
        </p>
    </div>
</div>